.task-manager {
  height: 100vh;
  margin: auto;
  padding: 2rem;
  background-color: #fff0f5;
  /* rose très pâle */
  border-radius: 20px;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #d070a0;
}

.task-form input,
.task-form textarea,
.task-form select {
  display: block;
  width: auto;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fffafc;
}

#submit {
  background-color: #f4a9c4;
  color: white;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  margin: auto;
}

.task-form button:hover {
  background-color: #e28cb1;
}

.task-form {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}

.task-list {
  margin-top: 2rem;
}

.task-card {
  background-color: #faf0f8;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  border-left: 5px solid #f4a9c4;
  position: relative;
  display: flex;
  width: auto;
  flex-direction: row;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement sur desktop */
  align-items: flex-start; /* colle à gauche */
  flex: 1;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* à droite sur desktop */
  justify-content: center; /* centré verticalement */
  gap: 1rem;
}

.task-card h3 {
  margin: 0 0 0.5rem 0;
  color: #b45e93;
}

@media screen and (max-width: 600px) {
  .task-card {
    flex-direction: column;
    align-items: flex-start; /* pour éviter le centrage global */
  }

  .actions {
    flex-direction: row;
    justify-content: center;
    align-items: center; /* bien centré horizontalement */
    margin-top: 1rem;
    width: 100%;
  }

  .info-card {
    align-items: flex-start;
    width: 100%;
  }
}

.status,
.deadline {
  font-weight: bold;
  color: #000;
}

.deadline {
  display: flex;
  justify-content: center;
}


.actions button {
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding: .5rem;
  border-radius: 12px;
  width: 10rem;
}

.edit-modal {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fff0f5;
  border-radius: 15px;
}

.taskDone {
  text-decoration: line-through;
  color: red;
}

.is-today-date {
  font-weight: bold;
  color: red;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}